<?xml version="1.0" encoding="UTF-8"?><SystemProperties><SystemName>120_rw6</SystemName><SerialNo>120-502422</SerialNo><UsedMedia><Media path="RobotWare_6.04.0133" name="RobotWare" version="6.04.0133" /></UsedMedia><ControlModule><Option descr="RobotWare Base"></Option><Option descr="709-1 DeviceNet Master/Slave"></Option><Option descr="608-1 World Zones"></Option><Option descr="613-1 Collision Detection"></Option><Option descr="614-1 FTP and NFS client"></Option><Option descr="616-1 PC Interface"></Option><Option descr="617-1 FlexPendant Interface"></Option><Option descr="623-1 Multitasking"></Option><Option descr="689-1 Externally Guided Motion (EGM)"></Option><Option descr="English"></Option></ControlModule><DriveModule><Name>Robot1</Name><Option descr="IRB 120-3/0.6"></Option><Option descr="Axis Calibration"></Option><Option descr="Drive System IRB 120/140/260/360/910SC/1200/1400/1520/1600/1660ID"></Option></DriveModule></SystemProperties>