ft_use_coinft: true

# ur_rtde:
#   robot_ip: "192.168.2.105"
#   rtde_frequency: 500.0
#   rt_receive_priority: 90
#   rt_control_priority: 85
#   interface_priority: 80
#   linear_vel: 0.5
#   linear_acc: 0.5
#   servoL_lookahead_time: 0.1
#   servoL_gain: 600
#   robot_interface_config:
#     zone_safety_mode: "SAFETY_MODE_TRUNCATE"
#     incre_safety_mode: "SAFETY_MODE_STOP"
#     operation_mode: "OPERATION_MODE_CARTESIAN"
#     max_incre_m: 0.02
#     max_incre_rad: 0.0628
#     max_incre_joint_rad: 0.0628
#     safe_zone: [-0.5, 0.7, -0.05, 0.9, 0.2, 0.8]

ur_rtde:
  robot_ip: "192.168.2.106"
  rtde_frequency: 500.0
  rt_receive_priority: 90
  rt_control_priority: 85
  interface_priority: 80
  linear_vel: 0.5
  linear_acc: 0.5
  servoL_lookahead_time: 0.1
  servoL_gain: 600
  robot_interface_config:
    zone_safety_mode: "SAFETY_MODE_TRUNCATE"
    incre_safety_mode: "SAFETY_MODE_STOP"
    operation_mode: "OPERATION_MODE_CARTESIAN"
    max_incre_m: 0.03
    max_incre_rad: 0.2
    max_incre_joint_rad: 0.0628
    safe_zone: [-0.5, 0.7, -0.9, -0.2, 0.2, 0.8]

coin_ft:
  port: "/dev/ttyACM0"
  baud_rate: 115200
  calibration_file: "/home/yifanhou/git/hardware_interfaces/hardware/coinft/config/calMat_UFT6.csv"
  PoseSensorTool: [0.2, 0.005, 0.085, 0.5, -0.5, -0.5,  0.5]

admittance_controller:
  dt: 0.002
  log_to_file: false
  log_file_path: "/tmp/admittance_controller.log"
  compliance6d:
    stiffness: [30, 30, 30, 2, 2, 2]
    damping: [1.5, 1.5, 1.5, 0.1, 0.1, 0.1] # for data collection
    inertia: [0.1, 0.1, 0.1, 0.0005, 0.0005, 0.0005]
  max_spring_force_magnitude: 20
  direct_force_control_gains:
    P_trans: 0.5
    I_trans: 0
    D_trans: 0
    P_rot: 0.5
    I_rot: 0
    D_rot: 0
  direct_force_control_I_limit: [0, 0, 0, 0, 0, 0]

